.app {
  padding: 20px 40px;

  > header {
    display: flex;
    justify-content: space-between;

    > span {
      font-size: 30px;
      line-height: 34px;
      color: rgba(102,170,238,0.91);
      font-weight: bold;
    }
  }
}
